<h2>Log in</h2>

<%= form_with do |f| %>

<%= f.label :name %>
<%= f.text_field(:name) %><br>

<%= f.label :password %>
<%= f.password_field(:password) %><br>

<%= f.submit "Log In" %>

<% end %>

<section>
  <h4>Don't have an account? <%= link_to "Sign up", signup_path %></h4>
  <h4>Login through Facebook <%= link_to "Log in", auth_facebook_callback_path %></h4>
</section>
</div>