<h2>Log in</h2>

<%= form_for(:session, url: login_path) do |f| %>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password_digest %><br />
  <%= f.password_field :password_digest, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="actions">
  <%= f.submit "Log in" %>
</div>
<% end %>

<section>
  <h4>Don't have an account? <%= link_to "Sign up", signup_path %></h4>
  <h4>Login through Facebook <%= link_to "Log in", auth_facebook_callback_path %></h4>
</section>
</div>