<h1>Update your Profile || Become a Manufacturer</h1>
<p><strong>Please Note: By leaving the fields blank and submitting the form you will be granted access to create a manufacturer. If you do not wish to become a manufacturer, update your profile and submit the form.</strong></p>

<%= form_for(@user) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>


<%= f.submit "Update Profile" %><br>

<% end %>