<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :password %>
<%= f.password_field :password %>


<%= f.submit "A" %><br>

<h4>By saving changes, you are now a manufacturer</h4>

<%= f.submit "B" %>

<% end %>