<h1>Update your Profile </h1>

<%= form_for(@user) do |f| %>

<p> Name:</br> <%= f.text_field :name%> </p>

<p> Password:</br> <%= f.password_field :password%> </p>

<p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>

<%= f.submit "Update Profile" %>

<% end %>