<h1>Sign up</h1><br>

<%= form_for(@user, url: signup_path) do |f| %>

<p> Name:</br> <%= f.text_field :name%> </p>

<p> Password:</br> <%= f.password_field :password%> </p>

<p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>

<h4><strong>Please note: By checking the box you will be granted access to create a manufacturer. <br> If you wish not to become a manufacturer, do not check the box and submit the form.</strong></h4>

<%= f.check_box :admin, checked: "checked" %><br><br>

<%= f.submit :Signup %>

<% end %>