<h1>Products Index</h1>

<% if current_user.admin? %>

test




<% else %>

<% @products.each do |product| %>

<li>Name: <%= @product.name %></li><br>

<li>Price: <%= @product.price %></li><br>

<li>Stock: <%= @product.stock %></li><br>

<li>Description: <%= @product.description %></li><br>

<li>Manufacturer: <%= @product.manufacturer_id %></li><br>

<% end %>